@import '@/variables.scss';


.userBudget {
  margin-top: 18px;
  padding: 12px;
  border-radius: 12px;
  background-color: $grey-bg;
}

.budgetText {
  display: flex;
  align-items: center;
  justify-content: space-between;

  span {
    font-size: 22px;
    font-weight: bold;
  }
}

.currency {
  font-size: 22px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 12px;
}
.amount{
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  font-size: 48px;
  font-weight: bold;
}
.monthSpent{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 6px;
  padding: 6px 0;
  font-size: 14px;
  font-weight: 500;
}
.spentAmount{
  font-size: 22px;
  font-weight: bold;
}