@import '@/variables.scss';

.mainScreen {
  padding: 12px;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;

}
.logoTop{
  display: flex;
  align-items: center;
  gap: 6px;
  span{
    font-weight: bold;
  }
}


