@import '@/variables.scss';

.mainScreen {
  padding: 12px;
  background-color: $yellow;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;

}

.topLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-size: 16px;
  font-weight: bold;
}

.userBudget {
  margin-top: 16px;
  padding: 12px;
  border-radius: 12px;
  display: flex;
  gap: 6px;
  flex-direction: column;
  color: #37200A;
  background-color: #F9ED79;
  border: 0.5px solid rgba(255, 255, 255, 30%);
}

.budgetText {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 22px;
  font-weight: bold;
}

.amountContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}

.amount {
  font-size: 48px;
  font-weight: bold;
}

.monthSpent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 0;
  border-top: 1px solid #EBD564;
}

.spentText {
  font-size: 16px;
  font-weight: bold;
  color: #B9A332;
}

.spentAmount {
  font-size: 22px;
  font-weight: bold;
}

.history {
  margin-top: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}

.historyText {
  font-size: 18px;
  font-weight: bold;
  color: #37200A;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  background-color: white;
}

.historyCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.date{
  font-size: 14px;
  font-weight: 500;
  color: #5B5B5B;
}
.cost{
  font-size: 18px;
  font-weight: bold;
}
.appBar{
  background-color: white;
  display: flex;
  justify-content: center;
  gap: 26px;
  padding: 12px;
  border-radius: 12px;
}
.item{
  min-width: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  span{
    font-size: 12px;
    font-weight: 600;
  }
}