@import '@/variables.scss';

.mainScreen {
  padding: 12px;
  background-color: $yellow;
  min-height: 100dvh;
  min-width: 100dvw;
  display: flex;
  flex-direction: column;

}

.topLogo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logoText {
  font-size: 16px;
  font-weight: bold;
}



