@import '@/variables.scss';

.history{
  flex: 1;
  margin-top: 20px;
}
.historyTitle{
  font-size: 18px;
  font-weight: bold;
}
.historyCards{
  margin-top: 8px;
  padding: 12px;
  border-radius: 12px;
  background-color: $grey-bg;
}
.historyCard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.details{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title, .amount {
  font-size: 18px;
  font-weight: bold;
}
.date{
  font-size: 14px;
  font-weight: 500;
  color: #717171;
}
