.history {
  margin-top: 12px;
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 6px;
}

.historyText {
  font-size: 18px;
  font-weight: bold;
  color: #37200A;
}

.historyContainer {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 12px;
  background-color: #F9ED79;
}

.historyCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 0;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.title{
  font-size: 18px;
  font-weight: bold;
}
.date{
  font-size: 14px;
  font-weight: 500;
  color: #5B5B5B;
}
.cost{
  font-size: 18px;
  font-weight: bold;
}